on:
  push:
    branches:
      - main
  pull_request:

name: run tests
jobs:
  test:

    strategy:
      matrix:
        go-version: [ "1.23", "1.24" ]
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: v2.1.5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        if: success()
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run linter
        uses: golangci/golangci-lint-action@v7
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Run tests
        run: go test -covermode=count -coverprofile=coverage.out ./...

      - name: Convert coverage.out to coverage.lcov
        uses: jandelgado/gcov2lcov-action@v1

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          flag-name: go-${{ matrix.go-version }}
          path-to-lcov: coverage.lcov
